.products-container{
    height: 100vh;
    background-color: #fff;
    justify-items: center;
    display: grid;
    place-content: center;
    padding: 0 10em;
}

.product-img{
    width: 50vh;
    border-radius: 5%;
    margin-bottom: 2em;
}

.product-img-container{
    margin-right: 2em;
}

.product-button{
    margin-top: 1em;
    background-color: #25D366;
    display: inline-block;
    padding: 0.4em 1em;
    border-radius: 5%;
    font-weight: bold;
}

.product-button-description{
    padding: 0 2em;
    font-size: 1.5em;
}

@media (min-width: 1000px){
    .product{
        display: flex
    }
    .product-img{
        width: 50vh;
        margin-bottom: 0em;
    }
    .product-button-description{
        padding: 0;
        font-size: 1em
    }
}