.navbar-container {
    position: sticky;
    top:0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.7em 0;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: linear;
    position: fixed;
    width: 100%;
}

.responsivemodal{
    display: none;
}

.show{
    display: block;
}

.navbar-brand-container {
    display: flex;
    align-items: center;
}

.list-categories{
    display: flex;
    list-style: none;
    color:#ffffff;
    font-weight: bold;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

.list-categorie{
    margin-left: 1.4em;
    font-size: 1em;
}

.brand-img{
    width: 2.7em;
}

.brand-name{
    font-size: 1.5em;
    font-weight: bold;
    color:#ffffff;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}

.brand-img-container{
    margin-right: 1.3em;
}

.scrolled{
    background-color: #fff;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.blackletter{
    color:#000000;
}

.navbar-categories-container{
    display: block;
}
