*{
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

ul {
  list-style: none;
}

@font-face {
  font-family: 'Comfortaa';
  src: url("../public/assets/font/Comfortaa-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.comfortaafont {
  font-family: Comfortaa;
}

.arialfont {
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-image: url("../public/assets/img/home.jpg");
  background-size: cover;
}